/* Important */ 

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper 
{
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1
{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}



/* header */ 

.menu {
    height: inherit;
}

.header {
    background-color: rgb(0, 163, 152);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    font-weight: 600;
    flex-wrap: wrap;
}

.header ol {
    display: flex;
    height: inherit;
    align-items: center;
    height: inherit;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header ol li {
    height: inherit;
    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
    border: 3px solid;
    border-radius: 100px;
    
}

figure {
    margin: 0;
}

/* Hero */

.hero-image
{
background-image: url(/assets/img/circle_sales.png);
justify-content: center;
align-items: center;
display: flex;
margin:auto;
padding: 100px 0px 0px 20px;

}


/* Information */

.description
{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}
